@import 'stylesheets/card';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
  background-color: green;

  // I can't help the default browser font.
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.dashboard {
  text-align: center;
  color: white;
}

.exceeded {
  color: red;
  margin-left: 10px;
}

#winner-container {
  font-size: 30px;
  color: red;
  height: 100px;
  text-transform: uppercase;
}

.container {
  &.unrevealed {
    #dialer-game {
      .card:not(:first-of-type):after {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: red;
      }
    }
  }
}


button[disabled] {
  pointer-events: none;
  opacity: .2;
}



.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
