.card {
  $margin: 10px;
  position: relative;
  display: inline-block;
  padding: 50px 35px;
  margin: $margin;
  background-color: white;
  border: 2px solid whitesmoke;

  &__label {
    position: absolute;
  }

  &__label:nth-of-type(2) {
    top:$margin;
    left:$margin;
  }

  &__label:nth-of-type(3) {
    top:$margin;
    right:$margin;
  }

  &__label:nth-of-type(4) {
    bottom:$margin;
    right:$margin;
  }

  &__label:nth-of-type(5) {
    bottom:$margin;
    left:$margin;
  }

  &--hearts,&--diamonds {
    color: red;
  }

  &--spades,&--clubs {
    color: black;
  }
}
